* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  list-style: none;
  scroll-behavior: smooth;
}

a {
  color: white;
  text-decoration: none;
}

body {
  min-height: 100vh;
  background: -webkit-gradient(linear, left top, left bottom, from(#590b0b), to(#823e3e));
  background: linear-gradient(#590b0b, #823e3e);
  height: 200vh;
  overflow-x: hidden;
}

body header {
  position: absolute;
  left: 0;
  top: 0;
  width: 90%;
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  margin-top: 20px;
  z-index: 100;
}

body header .logo {
  font-weight: bold;
  font-size: 2em;
  letter-spacing: 2px;
}

body header ul {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body header ul li a {
  padding: 6px 15px;
  border-radius: 10px;
}

body header ul li a:hover, body header ul li a:active {
  background: white;
  color: black;
}

body section {
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body section img {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

body section img#moon {
  width: 200px;
  height: 200px;
  mix-blend-mode: screen;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -o-object-fit: cover;
     object-fit: cover;
}

body section #stars {
  width: 1500px;
  height: 1500px;
  top: -100px;
}

body section #mountain-front {
  z-index: 10;
  width: 110%;
  height: 50%;
  bottom: 0;
}

body section #mountain-behind {
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
}

body section #text {
  position: absolute;
  top: 200px;
  color: white;
  white-space: nowrap;
  font-size: 7.5vw;
  z-index: 9;
  right: -44%;
}

body section .btn {
  padding: 8px 30px;
  border-radius: 40px;
  background: white;
  color: black;
  font-size: 1.5em;
  display: inline-block;
  z-index: 9;
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
}

body section::before {
  content: "";
  position: absolute;
  width: 100%;
  border-top: 1px solid black;
  height: 100px;
  bottom: -100px;
  z-index: 10008;
  background: -webkit-gradient(linear, left top, left bottom, from(#000000), to(transparent));
  background: linear-gradient(to bottom, #000000, transparent);
}

body .sec {
  z-index: 10007;
  position: relative;
  padding: 100px;
  background: #371010;
  color: white;
  height: 100vh;
}

body .sec h2 {
  font-size: 3.5em;
  margin-bottom: 10px;
}
/*# sourceMappingURL=style.css.map */